.DS_Store

Miscellaneous/
Reference/

V1/Blend/
V1/Gcode/
V1/Stl/Miscellaneous/
V1/Xcf/

V2/Presentation/Box_disposition/Side_designs
V2/Blend/Containers/
V2/Blend/Drawers/
V2/Blend/Extra/
V2/Stl/Drawers_walls/
V2/Stl/Drawers_wall_battlements/
V2/Stl/Extra/