.DS_Store

Miscellaneous/
Reference/

V1/Blend/
V1/Gcode/
V1/Stl/Miscellaneous/
V1/Xcf/

V2/Presentation/Box_disposition/Sides_designs/
V2/Presentation/By_Faction/Photo_Post_process/
V2/Presentation/By_Faction/Scene_Setup/
V2/Presentation/By_Faction/Transparent_Background/
V2/Blend/Containers/all_faction_containers.blend
V2/Blend/Drawers/drawers-Setup.blend
V2/Blend/Extra/
V2/Stl/Drawers_walls/
V2/Stl/Drawers_wall_battlements/
V2/Stl/Containers_pre_fix/
V2/Stl/Holders_pre_fix/
V2/Stl/Extra/